body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	font-family: "PT Sans", "sans-serif";
}

#container-header {
	position: static;
	height: 200px;
	width: 100%;
	background-image: url("assets/IMG_1473.JPG");
	background-size: cover;
	background-position: 0px 55%;
	overflow: hidden;
	
}

#logo {
	display: inline-block;
	width: 321px;
	height: 190px;
	margin-left: calc(50% - 190px);
}

#title {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	float: left;
	padding-top: 75px;
	padding-left: 20px;
	color: white;
	font-size: 50px;
	font-weight: 900;
}

#navbar {
	position: block;
	width: 75%;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: floralwhite;
	background-color: floralwhite;
	border-radius: 10px;
}

.nav-button {
	position: relative;
	width: 19%;
	float: left;
	text-align: center;
	font-family: "PT Sans", sans-serif;
	font-weight: 900;
	height: inherit;
	line-height: 27px;
	color: black;
}

#home-button {
	margin-left: 2%;
	border-right: solid 2px;
	border-color: grey;
}

#history-button {
	border-right: solid 2px;
	border-color: grey;
}

#gallery-button {
	border-right: solid 2px;
	border-color: grey;
}

#associates-button {
	border-right: solid 2px;
	border-color: grey;
}

#events-button {
	
}

#container-main {
	position: static;
	display: grid;
	bottom: 0;
	left: 0;
	right 0;
	width: 100%;
	max-width: 100;
	height: 100%;
	background-color: #88ba41;
	overflow: hidden;
	z-index: 0;
}

#content-frame {
	position: block;
	display: table;
	width: 75%;
	max-width: 75%;
	height: calc(1000px);
	margin: 0 auto;
	border-width: 4px;
	border-style: solid;
	border-color: whitesmoke;
	border-radius: 20px;
	background-color: floralwhite;
	
}

#texttitle {
	font-size: 35px;
	text-decoration: underline;
	font-weight: 900;
	width: 99%;
	padding: 20px;
	
}

#textsubtitle {
	font-size: 30px;
	text-decoration: underline;
	width: 98%;
	padding-left: 20px;
}

#textbody {
	font-size: 20px;
	line-height: 28px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
	padding-left: 20px;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 99%;
}

#text-area1 {
	float: left;
	width: 62%;
	word-wrap: break-word;
	overflow: hidden;
	padding: 5px;
	margin-left: 30px;
}

u {
	font-weight: 600;
	font-size: 25px;
}

img {
	position: relative;
	max-width: 75%;
}