body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	max-width: 1920px;
	font-family: "PT Sans", "sans-serif";
	overflow-x: auto;
	overflow-y: auto;
}

#container-header {
	position: static;
	height: 200px;
	width: 100%;
	background-image: url("assets/IMG_1473.JPG");
	background-size: cover;
	background-position: 0px 55%;
	overflow: hidden;
	
}

#logo {
	display: inline-block;
	width: 321px;
	height: 190px;
	margin-left: calc(50% - 190px);
}

#title {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	float: left;
	padding-top: 75px;
	padding-left: 20px;
	color: white;
	font-size: 50px;
	font-weight: 900;
}

#navbar {
	position: relative;
	width: 75%;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: floralwhite;
	background-color: floralwhite;
	border-radius: 10px;
}

.nav-button {
	position: relative;
	width: 19%;
	float: left;
	text-align: center;
	font-family: "PT Sans", sans-serif;
	font-weight: 900;
	height: inherit;
	line-height: 27px;
	color: black;
}

#home-button {
	margin-left: 15px;
	border-right: solid 2px;
	border-color: grey;
}

#history-button {
	border-right: solid 2px;
	border-color: grey;
}

#gallery-button {
	border-right: solid 2px;
	border-color: grey;
}

#associates-button {
	border-right: solid 2px;
	border-color: grey;
}

#events-button {
	
}

#container-main {
	position: static;
	display: block;
	bottom: 0;
	left: 0;
	right 0;
	width: 100%;
	max-width: 100;
	height: 100%;
	background-color: #88ba41;
	overflow: hidden;
	z-index: 0;
}

#content-frame {
	position: relative;
	display: table;
	width: 75%;
	height: calc(1000px);
	border-width: 4px;
	border-style: solid;
	border-color: whitesmoke;
	border-radius: 20px;
	background-color: floralwhite;
	margin: 0 auto;
	
}

#content-frame img {
	max-height: 300px;
	max-width: 300px;
	padding: 1px;
}



#filter {
	position:absolute;
	display: none;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 1;
	opacity: 0.7;
}
#photodiv {
	height: 80%;
	width 75%;
	margin: 0 auto;
}
#photo {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	object-fit:contain;
	max-height: 100%;
	max-width: 100%;
}

#photo-frame {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 2;
}

#exit img {
	display: inherit;
	max-height: 5%;
	max-width: 5%;
	margin: 20px;
}


.gallerycontainer {
	display: relative;
	width: 100%;
	max-width: 100%;
}

.separator {
	background-color: black;
	height: 2px;
	width: 95%;
	margin: 2.5%;
}

#page-selector {
	display: flex;
	margin: 0 auto;
	margin-bottom: 46px;
	height: 50px;
	width: 415px;
}

#left-arrow {
	position: relative;
	display: inline-grid;
	height: 50px;
	margin: 0 auto;
	width: 50px;
	
}
#right-arrow {
	position: relative;
	display: inline-grid;
	height: 50px;
	margin: 0 auto;
	width: 50px;
}
#left-arrow img {
	max-height: 100%;
	max-width: 100%;
	
}
#right-arrow img {
	max-height: 100%;
	max-width: 100%;
}

.page {
	display: inline-grid;
	width: 50px;
	height: 50px;
	border-style: solid;
	border-width: 1px;
	border-radius: 1px;
	margin: 5px;
}

.gallerypage {
	margin: 0 auto;
	width: 1061px;
}

.gallerypage img {
	height: 200px;
	width: 250px;
	object-fit: contain;
	margin: 5px;
}


.heading {
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	width: 300px;
}

.texttitle {
	font-size: 35px;
	text-decoration: underline;
	line-height: 15px;
	padding: 20px;
}

.textbody {
	font-size: 20px;
	line-height: 25px;
	padding-top: 17px;
}

a {
	color:inherit;
}