body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	font-family: "PT Sans", "sans-serif";
}

#container-header {
	position: static;
	height: 200px;
	width: 100%;
	background-image: url("assets/IMG_1473.JPG");
	background-size: cover;
	background-position: 0px 55%;
	overflow: hidden;
	
}

#logo {
	display: inline-block;
	width: 321px;
	height: 190px;
	margin-left: calc(50% - 190px);
}

#navbar {
	position: absolute;
	width: 75%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: floralwhite;
	background-color: floralwhite;
	border-radius: 10px;
}

.nav-button {
	position: relative;
	width: 19%;
	float: left;
	text-align: center;
	font-family: "PT Sans", sans-serif;
	font-weight: 900;
	height: inherit;
	line-height: 27px;
	color: black;
}

#home-button {
	margin-left: 2%;
	border-right: solid 2px;
	border-color: grey;
}

#history-button {
	border-right: solid 2px;
	border-color: grey;
}

#gallery-button {
	border-right: solid 2px;
	border-color: grey;
}

#associates-button {
	border-right: solid 2px;
	border-color: grey;
}

#events-button {
	
}

#container-main {
	position: static;
	display: flex;
	bottom: 0;
	left: 0;
	right 0;
	width: 100%;
	height: 100%;
	background-color: #88ba41;
	overflow: hidden;
	justify-content: center;
}

#content-frame {
	position: relative;
	display: table;
	width: 75%;
	height: calc(1000px);
	margin: 55px 50px 50px 50px;
	border-width: 4px;
	border-style: solid;
	border-color: whitesmoke;
	border-radius: 20px;
	background-color: floralwhite;
	
}

#texttitle {
	font-size: 35px;
	text-decoration: underline;
	line-height: 15px;
	padding-top: 50px;
}

#textbody {
	font-size: 20px;
	line-height: 25px;
	padding-top: 17px;
}

#text-area1 {
	float: left;
	width: 61%;
	word-wrap: break-word;
	overflow: hidden;
	padding: 5px;
	margin-left: 30px;
}

#text-area2 {
	float: left;
	width: 61%;
	word-wrap: break-word;
	overflow: hidden;
	padding: 5px;
	margin-left: 30px;
}

video {
	float: left;
	padding-top: 20px;
	width: 75%;
}

#photo1 {
	float: right;
	padding: 1px;
	width: 30%;
	height: 32%;
}

#mapphoto {
	height: 90%;
	background-image: url("assets/A3%20Polling%20Station%20Review%20Porchester.png");
	background-size: cover;
}

#mapcaption {
	padding-top: 2px;
	font-size: 90%;
	font-style: italic;
}

.captionedphoto {
	position: relative;
	display: inline-block;
	float: right;
	background-color: beige;
	border-width: 5px;
	border-style: solid;
	border-color: beige;
	border-radius: 10px;
}

#minigallery {
	padding-top: 20px;
	width: 95%;
	margin: 30px;
	font-size: 35px;
	text-decoration: underline;
	float: left;
	
}

#gallerycontainer {
	display: flex;
	justify-content: center;
	margin: 0px 0px 0px 30px;
	width: 95%;
	
}

.galleryphoto {
	display: inline-grid;
	width: 45%;
	padding: 10px;
	overflow: hidden;
	
}

#galleryphoto1 {
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
}

#galleryphoto2 {
	background-repeat: no-repeat;
	background-size: contain;
	float:left;
}

img {
	max-width: 100%;
	flex: 1;
}

#gallerytext {
	justify-content:center;
	flex-direction: row;
	float: left;
	width: 95%;
	padding-left: 35px;
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 10px;
}